mixin advantage-company(advantage)
    div.advantagy-company-block
        .advantagy-company-block__container
            div.advantagy-company-block__amount=advantage.amount
            div.advantagy-company-block__text=advantage.text