include ../advantages/advantages.pug

mixin comment()
    section.comment-section 
        h1.comment-section__title.title Отзывы
        div.comment-section__comments.comments
            div.comments__item