.questions-section{
    padding-top: 100px;
    &__title{
        margin-bottom: 53px;
        @media(max-width: $mobile){
            margin-bottom: 30px;
        }
    }
    @media(max-width: $tablet){
        padding-top: 90px;
    }
    @media(max-width:  500px){
        padding-top: 70px;
    }
}
.questions{
    &__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: $tablet){
            column-gap: 16px;
        }
    
        @media(max-width: 500px){
            flex-wrap: wrap;
            column-gap: 0px;
        }
    }
}
.question{
    border-top: 2px solid $turquoise-light;
    padding: 30px 0px;
    width: 45%;
    @media(max-width: $tablet){
        max-width: 317px;
    }

    @media(max-width: 500px){
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
    }

    &__content{
        max-width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: unsafe;

        @media(max-width: $tablet){
            height: 100%;
            width: 100%;
            gap: 15px;
        }
    
        @media(max-width: 500px){
            width: 100%;
        }
    }
    &__name{
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        text-transform: uppercase;
        min-height: 50px;
        @media(max-width: $tablet){
            min-height: 30px;
        }
    
        @media(max-width:  500px){
            min-height: 15px;
        }
    }
    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
    }
}
