mixin septik-card(septik)
    article.septik-card
        div.septik-card__container
            h2.septik-card.title=septik.title
            img(src=septik.image, alt='')
            table 
                tr
                    td
                    td
                tr
                    td
                    td
                tr
                    td
                    td