-var photoExcavator = 'src/images/excavator/excavator.jpg';
-var questions = [{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'}]
-var comments = [{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'}];
-var excavator1 = 'src/images/excavator/ex1.jpg';
-var excavator2 = 'src/images/excavator/ex2.jpg';
include ../../common/main/main.pug
include ../../common/comments/comments.pug
include ../../common/questions/questions.pug
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мини-экскаватор</title>
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    link(rel="stylesheet" href="src/scss/styles.css")
</head>
<body>
    div.wrapper
        include ../../common/header/header.pug
        main.main
            +main('Мини-экскаватор в аренду', 'Наличный и безналичный расчёт.', photoExcavator, 'Проверенную и подготовленную технику', 'Профессионального и опытного экскаваторщика', 'Своевременную доставку экскаваторы','Оперативное решение задач и поддержку')
            section.caissons-section
                div.caissons-section__container._container
                    h1.caissons-section__title.title наши мини-экскаваторы
                        //- div.caissons-section__caisson-block
                        //-     div.caisson-block__content
                        //-         h2.caisson-block__name JCB 8015
                        //-         div.caisson-block__text Экскаватор 1404 производства немецкого концерна Wacker Neuson SE является одним из самых маленьких мини-экскаваторов с закрытой кабиной в мире, поэтому в его названии часто фигурирует приставка "микро" или "нано". Высота по кабину всего 2285 мм, масса вместе с оператором и топливом 1600 кг, ширина 990 мм. Благодаря таким характеристикам этот мини-экскаватор легко может заезжать в дверной проем (высотой не менее 2.3 м).
                        //-     img.main-block__image(src=excavator1, alt="")
                        //- div.main-block__buttons.buttons
                        //-     a(href='#' class='button').buttons__telegram.button Спросить в Telegram
                        //-     a(href="tel:+375293439439" class='button').buttons__phone.button +375 29 343 94 39
                        //- div.caissons-section__caisson-block
                        //-     img.caisson-block__image(src=excavator2, alt="")
                        //-     div.caisson-block__content
                        //-         h2.caisson-block__name JCB 8015
                        //-         div.caisson-block__text Экскаватор 1404 производства немецкого концерна Wacker Neuson SE является одним из самых маленьких мини-экскаваторов с закрытой кабиной в мире, поэтому в его названии часто фигурирует приставка "микро" или "нано". Высота по кабину всего 2285 мм, масса вместе с оператором и топливом 1600 кг, ширина 990 мм. Благодаря таким характеристикам этот мини-экскаватор легко может заезжать в дверной проем (высотой не менее 2.3 м).
                        //- div.main-block__buttons.buttons
                        //-     a(href='#' class='button').buttons__telegram.button Спросить в Telegram
                        //-     a(href='tel:+375293439439' class='button').buttons__phone.button +375 29 343 94 39
            include ../../common/order/order.pug
            div.photos._container.photos-rings
                div.excavator-block
                    img(src='src/images/excavator/excavator1.jpg')
                    img(src='src/images/excavator/excavator2.jpg')
                    img(src='src/images/excavator/excavator3.jpg')
                div.main-block__buttons.buttons
                    a(href='#' class='button').buttons__telegram.button Спросить в Telegram
                    a(href='tel:+375293439439' class='button').buttons__phone.button +375 29 343 94 39
            +comments(comments)
            +questions(questions)
            include ../../common/partners/partners.pug
            include ../../common/footer/footer.pug
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
    script(src="src/js/comments.js")