.services-section{
    padding: 150px 0px;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 75px;
    }
    .services{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
}
.company-section{
    padding: 190px 0px;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }
}
.advantage-company-block{
    &__container{
        display: flex;
        justify-content: space-around;
        gap: 140px;
    }
}