doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Септики
        link(rel="stylesheet" href="src/scss/styles.css")
    body
    div.wrapper
        include ../../common/header/header.pug
        main.main
            section.contacts-section._container
                div.contacts-section__content
                    h1.stations-section__title.title Контакты
                    p Индивидуальный предприниматель Силко Александр Александрович УНП 192947174г. Минск, Ул. Масюковщина 2а Режим работы: 09.00-21.00 +375 29 343 94 39septiki@mail.by
                    div.main-block__buttons.buttons
                        a(href='#' class='button').buttons__telegram.button Спросить в Telegram
                div.contacts-section__map
        include ../../common/footer/footer.pug