-var certificate = "src/images/certificate.jpg";

section.certificate-section
    div.certificate-section__container._container
        div.certificate-section__triangle
        h2.certificate-section__title Официальные представители
        div.certificate-section__content
            div.certificate-section__triangle.certificate-triangle-mobile
            p.certificate-section__text Мы официальные представители лидера по производству очистных сооружений ООО “КАНН ПРОЕКТ” и реализуем септики по ценам производителя.<br><br> Наша компания - профессиональный подрядчик по монтажу, ремонту и техническому обслуживанию септиков.<br><br>В наличии собственное оборудование и штат опытных инженеров. Предлагаем в аренду услуги мини-экскаватора.
            div.certificate-section__photo
                div.certificate-section__shadow
                img(src=certificate, alt="Сертификат").certificate-section__image