header.header
    div.header__container._container
        div.header__logo
            a(href="#")
                img(src="#", alt="Логотип")
        nav.header__menu.menu
            ul.menu__list
                li.menu__item
                    a(href="main.html").menu__link.active Главная
                li.menu__item
                    a(href="septiki.html").menu__link Септики
                li.menu__item
                    a(href="caissons.html").menu__link Кессоны
                li.menu__item
                    a(href="rings.html").menu__link Кольца
                li.menu__item
                    a(href="excavator.html").menu__link Мини-эскаватор
                li.menu__item 
                    a(href="contacts.html").menu__link Контакты
        a(href="tel:+375293439439").header__phone +375 29 343 94 39
