header.header
    div.header__container._container
        div.header__logo
            a(href="#")
                img(src="src/images/logos/septiki_logo.svg", alt="Логотип")
        nav.header__menu.menu
            ul.menu__list
                li.menu__item
                    a(href="main.html").menu__link Главная
                li.menu__item
                    a(href="septiki.html").menu__link Автономные<br>канализации
                li.menu__item
                    a(href="caissons.html").menu__link Кессоны для<br>скважин
                li.menu__item
                    a(href="rings.html").menu__link Септики<br>ж/б
                li.menu__item
                    a(href="excavator.html").menu__link Мини-экскаватор
                li.menu__item 
                    a(href="contacts.html").menu__link Контакты
        a(href="tel:+375293439439").header__phone +375 29 3 439 439
        div.header__burger
            span