footer.footer 
    div.footer__container._container
        nav.footer__menu.footer-menu
            ul.footer-menu__list
                li.footer-menu__item
                    a(href="#").footer-menu__link.active Главная
                li.menu__item
                    a(href="#").footer-menu__link Септики
                li.menu__item
                    a(href="#").footer-menu__link Кессоны
                li.menu__item
                    a(href="#").footer-menu__link Кольца
                li.menu__item
                    a(href="#").footer-menu__link Мини-эскаватор
                li.menu__item 
                    a(href="#").footer-menu__link Контакты
    