.footer{
    background-color: $grey-dark;
    height: 268px;
    width: 100%;
    padding: 40px 0px;

    &__menu{
        display: flex;
        flex-direction: column;
    }
}
.footer-menu{
    &__list{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    &__link{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: $white;

        @media(max-width: $mobile){
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.02em;
        }
    }
}