footer.footer 
    div.footer__container._container
        nav.footer__menu.footer-menu
            ul.footer-menu__list
                li.footer-menu__item
                    a(href="main.html").footer-menu__link.active Главная
                li.menu__item
                    a(href="septiki.html").footer-menu__link Септики
                li.menu__item
                    a(href="caissons.html").footer-menu__link Кессоны
                li.menu__item
                    a(href="rings.html").footer-menu__link Кольца
                li.menu__item
                    a(href="excavator.html").footer-menu__link Мини-эскаватор
                li.menu__item 
                    a(href="contacts.html").footer-menu__link Контакты
        div.footer__logo
            a(href="#")
                img(src="src/images/logos/septiki_logo.svg", alt="Логотип")
        div.footer__text ИП Силко А.А.<br>УНП 192947174<br>г. Минск, ул. Масюковщина 2а<br>Режим работы: 09.00-21.00