.service-block{
    @media(max-width: $tablet){
        padding: 50px 0px 0px;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 90px;
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        @media(max-width: $tablet){
            row-gap: 250px;
            position: relative;
        }
    }
    &__title{
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
    }
    &__subtitle{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-align: left;
        @media(max-width: $tablet){
            position: inherit;
            top: 211px;
            width: 450px;
        }
    }
    &__image{
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        @media(max-width: $tablet){
            position: absolute;
            margin-top: 135px;
        }
    }
    &__image-triangle{
        display: inline-block;
        border: 201px solid transparent;
        border-bottom: 395px solid #32949B;
        transform: rotate(35deg);
        width: 360px;
        height: 421px;
        left: 297px;
        top: -230px;
        position: absolute;
    }
    &__image-service{
        width: 530px;
        height: 355px;
        position: relative;
    }
    &__image-service{
        width: 530px;
        height: 355px;
        position: relative;
    }
}
.service-block:nth-child(even) .service-block__container{
    flex-direction: row-reverse;
    @media(max-width: $tablet){
        flex-direction: inherit;
    }
}