.rings-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0px 0px;
    &__container{
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
    &__septiki{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 45px;
        row-gap: 50px;
    }
}
.rings-block{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;

    >img{
        width: 240px;
    }
}
.photos-rings{
    padding-bottom: 150px;
}