-var photoSeptiki = 'src/images/septiki/septiki.jpg'
-var questions = [{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'},{name: 'Pulvinar magna purus semper id est lacus.', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pulvinar magna purus semper id est lacus. Aenean morbi at eros curabitur volutpat.'}];

-var comments = [{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. ?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'},{text: 'Три месяца назад началось удивительное и совершенно новое изучение и погружение в тему конфликтов. Удивительное и новое погружение в самого себя.Для меня тема изучения и проработки своей личности не новая. Возможно, я напишу об этом пост) а возможно и нет)Просто теперь я задалась вопросом; а почему мы конфликтуем? Почему так сложно выдержать конфликтную ситуацию?',account: '@account'}];
include ../../common/main/main.pug
include ../../common/comments/comments.pug
include ../../common/questions/questions.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Септики
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
        link(rel="stylesheet" href="src/scss/styles.css")
    body
        div.wrapper
            include ../../common/header/header.pug
            main.main
                +main('Хотите навсегда решить проблему с канализацией?', 'Канализация в дом под ключ с гарантией на все работы.', photoSeptiki, 'оплата по факту выполненных работ', 'гарантия на монтаж 3 года', 'монтажники с опытом работы 5+ лет','Бесплатный выезд на замер')
                section.stations-section
                    h1.stations-section__title.title Cтанции биологической очистки
                    include ../../common/station/station.pug
                include ../../common/order/order.pug
                div.photos._container
                    div.installation-block
                        img(src='src/images/septiki/installation/installation1.jpg')
                        img(src='src/images/septiki/installation/installation2.jpg')
                        img(src='src/images/septiki/installation/installation3.jpg')
                        img(src='src/images/septiki/installation/installation4.jpg')
                        img(src='src/images/septiki/installation/installation5.jpg')
                        img(src='src/images/septiki/installation/installation6.jpg')
                        img(src='src/images/septiki/installation/installation7.jpg')
                        img(src='src/images/septiki/installation/installation8.jpg')
                    div.main-block__buttons.buttons
                        a(href='#' class='button').buttons__telegram.button Спросить в Telegram
                        a(href='tel:+375293439439' class='button').buttons__phone.button +375 29 343 94 39
                include ../../common/certificate/certificate.pug
                +comments(comments)
                +questions(questions)
                include ../../common/partners/partners.pug
            include ../../common/footer/footer.pug
        script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
        script(src="src/js/comments.js")
