div.swiper.main-slider
  div.swiper-wrapper
    div.swiper-slide.slide__image
      img(src="src/images/slider/septiki.jpg")
      div.slide__image-shadow 
      div.slide__content
        h1.slide__title Автономная канализация
        p.slide__subtitle Замер и доставка в подарок, оплата по факту (без предоплат)!
        a(href='septiki.html' class='button').buttons__telegram.button Подробнее
    div.swiper-slide.slide__image
      img(src="src/images/slider/slide.jpg")
      div.slide__image-shadow
      div.slide__content
        h1.slide__title Кессоны для скважин
        p.slide__subtitle Закажите кессон + монтаж + обвязку и получите скидку 20% на все работы! 
        a(href='caissons.html' class='button').buttons__telegram.button Подробнее
    div.swiper-slide.slide__image
      img(src="src/images/slider/rings.jpg")
      div.slide__image-shadow 
      div.slide__content
        h1.slide__title Септики ж/б
        p.slide__subtitle Выполним работы по монтажу жб септика в самые короткие сроки
        a(href='rings.html' class='button').buttons__telegram.button Подробнее
    div.swiper-slide.slide__image
      img(src="src/images/slider/excavator.jpeg")
      div.slide__image-shadow 
      div.slide__content
        h1.slide__title Аренда мини-экскаваторов!
        p.slide__subtitle Надёжная и проверенная техника, скидки на объёмах!
        a(href='excavator.html' class='button').buttons__telegram.button Подробнее
div.swiper-pagination
div.swiper-scrollbar
