.swiper-button-prev,
.swiper-button-next{
    color: #32949B;
}
.swiper-button-next{
    right: 100px;
}
.swiper-button-prev{
    left: 100px;
}
.main-slider{
    margin-top: 80px;
}
.swiper{
    .slide{
        &__image{
            background: url("../images/slider/slide.jpg");
            display: flex;
            align-items: center;
            width: 100%;
            height: 540px;
        }
        &__content{
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 40px;
            color: $white;
            margin-left: 60px;
        }
        &__title{
            font-weight: 700;
            font-size: 35px;
            line-height: 42px;
            width: 520px;
        }
        &__subtitle{
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            width: 445px;
        }
        &__image-shadow{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: rgba(0,0,0,0.6);
        }
    }    
}